<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Create Express App</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.5;
      margin: 20px;
    }

    h1 {
      color: #333;
    }

    h2 {
      color: #555;
    }

    p {
      margin-bottom: 10px;
    }

    pre {
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 4px;
    }

    code {
      font-family: Consolas, monospace;
    }

    .badge {
      display: inline-block;
      padding: 5px 10px;
      background-color: #555;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      margin-right: 5px;
    }

    .badge img {
      vertical-align: middle;
      margin-right: 5px;
    }

    .badge a {
      color: #fff;
      text-decoration: none;
    }

    .badge-version {
      background-color: #4CAF50;
    }

    .badge-license {
      background-color: #2196F3;
    }
  </style>
</head>

<body>
  <h1>Create Express App</h1>

  <p>
    <span class="badge badge-version">
      <a href="https://badge.fury.io/js/create-mongo-express.svg">
        <img src="https://badge.fury.io/js/create-mongo-express.svg" alt="npm version">
        v1.2.0
      </a>
    </span>
    <span class="badge badge-license">
      <a href="https://opensource.org/licenses/MIT">
        License: MIT
      </a>
    </span>
  </p>

  <p>Create Express App is a simple <strong>CLI</strong> tool that automates the setup of an Express.js application with MongoDB connection. With this tool, you can quickly generate a fully configured Express.js project, complete with <code>file</code> based preconfigured routes and seamless integration with MongoDB.</p>

  <h2>Installation</h2>

  <p>To install the package, make sure you have Node.js and npm installed on your machine. Then, run the following command:</p>

  <pre><code class="language-bash">npx create-mongo-express</code></pre>

  <h2>Getting Started</h2>

  <p>You will be prompted to enter the project name. Provide a suitable name for your Express server:</p>

  <pre><code class="language-bash">Enter the project name (e.g., express-server):</code></pre>

  <p>Next, you will be asked to provide the MongoDB URI.</p>

  <pre><code class="language-bash">Enter the MongoDB URI:</code></pre>

  <p>Ensure that your MongoDB URI is in the following format:</p>

  <pre><code>mongodb+srv://mongoDbUser:mongoDbUserPass@cluster0.s938843o0.mongodb.net/databaseName?retryWrites=true&amp;w=majority</code></pre>

  <h2>Running the Server</h2>

  <p>After the setup is complete, navigate to the project folder:</p>

  <pre><code class="language-bash">cd project-name</code></pre>

  <p>Next, start the server by running the following command:</p>

  <pre><code class="language-bash">npm run dev</code></pre>

  <p>Your server will run on port 3500 by default.</p>

  <p>If you wish to change the port, you can modify the <code>server.js</code> file located in the root folder.</p>

  <h2>Creating a New Route</h2>

  <p>To create a new route in the api folder, follow these steps:</p>

  <p>Inside the project folder, locate the <strong>api</strong> folder. This is where you can add your custom routes.</p>

  <p>Create a new file with a descriptive name for your route. For example, if you want to create a route for managing products, you can create a file named <code>products.js</code> inside the <strong>api</strong> folder.</p>

  <p>Open the newly created file and add the necessary code to define your route. Here's an example:</p>

  <pre><code class="language-javascript">const express = require('express');
const router = express.Router();
const Customer = require('../model/Customer');

// GET /api/customers
router.get('/', (req, res) =&gt; {
  res.send('This is the /customers route');
});


// GET /api/customers/:id
router.get('/:id', (req, res) =&gt; {
  console.log(req.params.id);
  res.send(`This is the /customers/${req.params.id} route`);
});

// POST /api/customers
router.post('/', async (req, res) =&gt; {
  const { first_name, last_name, email, phone } = req.body;

  if (!email || !first_name || !last_name || !phone) {
    return res
      .status(400)
      .json({ message: 'Please fill out all the required fields' });
  }

  try {
    const duplicateCustomer = await Customer.findOne({ email }).exec();

    if (duplicateCustomer) {
      return res.status(409).json({
        message: `Another user with email ${email} already exists, login instead`,
      });
    }

    // Create and store new user
    const result = await Customer.create({
      first_name,
      last_name,
      email,
      phone,
    });

    return res.status(200).json({
      message: 'User created successfully',
      first_name: result.first_name,
      last_name: result.last_name,
      email: result.email,
      phone: result.phone,
    });
  } catch (error) {
    res.status(500).json({ message: error.message });
  }
});

module.exports = router;</code></pre>

  <p>Customize the route logic according to your requirements. You can retrieve data from the database, create new records, update existing records, or delete records based on the HTTP methods and route paths you define.</p>

  <p>Save the file.</p>

  <p>Your new route is now available in the Express server. You can access it using the route path you defined. For example, if you created a <code>products.js</code> route as shown above, you can access the route endpoints at <code>/api/products</code>, <code>/api/products/:id</code>, etc.</p>

  <h2>Mongoose models</h2>

  <p>You can add your own mongoose models in the model folder at the root level. Here's an example:</p>

  <pre><code class="language-javascript">const mongoose = require('mongoose');
const Schema = mongoose.Schema;

const customerSchema = new Schema({
  first_name: String,
  last_name: String,
  email: String,
  phone: String,
});

module.exports = mongoose.model('Customer', customerSchema);</code></pre>
</body>

</html>
